Output/GradientPhaseSpaceScan/electron/Data/W/dw/polarization_cluster_01/combined/min_dw_polarization_cluster_01_contour_samples.csv filter=lfs diff=lfs merge=lfs -text
Output/GradientPhaseSpaceScan/electron/Data/W/dw/polarization_cluster_04/combined/min_dw_polarization_cluster_04_contour_samples.csv filter=lfs diff=lfs merge=lfs -text
Output/GradientPhaseSpaceScan/*/Data/*/contour/local_minima/*.csv filter=lfs diff=lfs merge=lfs -text
Output/GradientPhaseSpaceScan/*/Data/*/contour/local_minimum_contour_samples.csv filter=lfs diff=lfs merge=lfs -text
Output/GradientPhaseSpaceScan/*/Plots/CEP/polarization_cluster_*/*_State_Search_and_Config_*.pdf filter=lfs diff=lfs merge=lfs -text
Output/GradientPhaseSpaceScan/*/Plots/CPGAMMA/polarization_cluster_*/*_State_Search_and_Config_*.pdf filter=lfs diff=lfs merge=lfs -text
Output/GradientPhaseSpaceScan/*/Plots/CEGAMMA/polarization_cluster_*/*_State_Search_and_Config_*.pdf filter=lfs diff=lfs merge=lfs -text
